/*  keep it simple for now, follow wire frame
*/

li a{
    margin-top: 30px;
    font-weight: bolder;
    color: black;
}

.mySlides{
    width: 100%;
    height: 650px;
}

.grid-container {
    margin-top: 20px;
} 

#searchMat {
    margin: 10px 25px;
}
 #input-bar {
    width: 250px;
}

div a{
    margin-left: 33px;
}