
li a{
    margin-top: 40px;
    font-weight: bolder;
    color: #1779ba;
}

.mySlides{
    width: 75%;
    height: 650px;
    margin: 0 250px 0 250px;
}

.grid-container {
    margin-top: 20px;
} 

#searchMat {
    margin: 10px 25px;
}
 #input-bar {
    width: 250px;
}
.whole {
    background-color:#1779ba;
    color: rgb(193, 216, 175);
    font-weight: 700;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    padding-right: 10px;
    text-align: center;
    border: 10px #0a0a0a;
    border-radius: 25px;
    width: 190px;
}


#fetch-weather {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 400px;
    display: none;
}

.recent-adventures {
    visibility: block;
}


.city-code {
    
    text-align: center;
    color: cornsilk;
    cursor: pointer;
    font-weight: bolder;
    font-size: large;
    margin-left: 100px;
    width: 50px;
    background-color: #1779ba;
}
.city-code:hover{
    background-color: green;
}
